body{
    font-family: sans-serif;
    background-color: #824d79;
    color: #eee2f3;
    margin: 0;
    padding: 0;
}
/* styling for a container element that wraps content*/
.container{
    max-width: 1500px; /* Maximum width of the container */
    margin: 0 auto; /* centering the container horizantally*/
    padding: 0 20px; /* Adding padding to the left and right*/
}
nav {
    position: sticky;
    top: 0;
    background-color: #815893;/* Dark burgundy backround*/
    padding: 10px;/*Adding padding to the top and bottom*/
}
nav h1{
    margin: 0;
    display: inline;
}
nav ul {
    list-style-type: none;/*Removing bullet points*/
    margin: 0;/* Resetting margin*/
    padding: 0;/*Resetting padding*/
    float: right;/*Floating the list to the right*/
}
nav ul li {
    display: inline;/*Displaying list items inline*/
    margin-left: 20px;/*Adding left margin between list items*/
}
nav ul li a {
    color: white;/*Gold link color*/
    text-decoration: none;/*Removing underline from links*/
    transition: 0.5s;
}
nav ul li a:hover{
    padding: 10px;
    background-color:#451f55;
    color:#824d79;
}
.profile{
    display: flex;/*using flex box for layout*/
    align-items: center;/* aligning items vertically*/
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 20px;
    
}
.main{
    padding: 20px;
}

.main h2 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


section{
    margin-bottom: 40px;
}
section h2{
    color:#52154E;
    text-shadow: 2px 2px 4px rgba(236, 221, 221, 0.549);
}
header{
    background-color: #681663;
    padding: 20px 0;/*adding padding to the top and bottom*/

}
#contact{
    background-color:rgb(75, 9, 75);
    padding: 40px 0;
    text-align: center;
}
.contact-head{
    margin-bottom: 20px;
    color: black;
}
.contact-info{
    color:white
}
.contact-info p{
    margin-bottom: 0;
}
.contact-info ul{
list-style-type: none;/* Removing bullet points*/
padding: 0;
}
.contact-info ul li{
    display: inline;/* displaying list items inline*/
    margin: 0 10px;
}

.insta{
    width: 70px;
    height: 70px;
    border-radius: 25%;
}
.insta:hover{
    opacity: 0.7;/*Reduce opacity on over*/
    cursor: pointer;
}
.whatsup{
    width: 70px;
    height: 70px;
    border-radius: 25%;
}
.whatsup:hover{
    opacity: 0.7;/*Reduce opacity on over*/
    cursor: pointer;
}